@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.logo {
  float: left;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 7px 28px 16px -20px;
}

.header{
  position: fixed;
  z-index: 1000;
  width: 100vw;
  overflow: hidden;
}

.triangle_border_up{
  width:0;
  height:0;
  border-width:0px 40px 40px;
  border-style:solid;
  border-color:transparent transparent #333;/*透明 透明  灰*/
  margin:40px auto;
  position:relative;
}

.right {
  float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
